{% load humanize %}

<style>
    a{
        border: 1px solid #9BD3DD;
        background-color: whitesmoke;
        margin: 4px;
        text-align: center;
        text-decoration: none;
        padding: 4px;
        color: black;
    }
    body{
        text-align: center;
    }
</style>

<body>
    {% comment %} loop through the boxes {% endcomment %}
    {% for box in boxes %}
        <a href="{% url 'box' box_num=box.number %}">
            📤 {{ box.number | ordinal }} Box - <strong>{{ box.card_count }} Cards</strong>
        </a>
    {% endfor %}
</body>
