{% extends "recards/base.html" %}
{% comment %} makes the content more human-friendly and readable instead of static {% endcomment %}
{% load humanize %}

{% block content %}
    <h2 class="h2-l">
        All Cards
    </h2>
    <div class="container">
        <a href="{% url 'cuecard-create' %}" role="button">
            Create New Card
        </a>
    </div>
    {% comment %} loop through all cue cards and display on the page {% endcomment %}
    {% for cuecard in cuecard_list %}
        {% comment %} only display the box numbers once to group the cue cards {% endcomment %}
        {% ifchanged %}
            {% comment %} pipe the humanizing ordinal filter onto the box number (ex/ changes 1 to 1st) {% endcomment %}
            <h3 class="h3-l">📤 {{ cuecard.box | ordinal }} Box</h3>
        {% endifchanged %}
        {% include "recards/cuecard.html" %}
    {% endfor %}
{% endblock content %}
