{% extends "recards/base.html" %}

{% block content %}
    {% comment %} create another template that displays the cue card creation process (blocking the original content) {% endcomment %}
    {% if cuecard %}
        <h2>✍️ Edit Card</h2>
    {% else %}
        <h2>Create New Card</h2>
    {% endif %}
    <form method="post">
        {% comment %} security pre-requisite for django forms {% endcomment %}
        {% csrf_token %}
        {% comment %} displays the fields as paragraphs {% endcomment %}
        {{ form.as_p }}
        <input type="submit" value="Save Card">
    </form>
    {% comment %} if you don't want to make any more cards, press cancel and it'll lead you back to the list of cue cards {% endcomment %}
    <a href="{% url 'cuecard-list' %}">
        Cancel
    </a>
{% endblock %}
