<style>
   article {
      text-align: left;
      width: 700px;
      margin-left: auto;
      margin-right: auto;
   }

   body {
      align-items: center;
   }
</style>

<body>
   <article>
      <h4 class="h4-card">{{ cuecard.concept }}</h4>
      {% if not check_card %}
         <p class="p-card">{{ cuecard.answer }}</p>
         <hr/>
         {% comment %} cuecard.id is for the primary key passed in the url route {% endcomment %}
         <a href="{% url 'cuecard-update' cuecard.id %}" role="button">
            ✍️ Edit Cue Card
         </a>
      {% else %}
         <details>
               <summary>Reveal Answer</summary>
               <p class="p2-card">{{ cuecard.answer }}</p>
         </details>
         <hr/>
         {% include "recards/cuecard_check_form.html" with solved=True %}
         {% include "recards/cuecard_check_form.html" with solved=False %}
      {% endif %}
   </article>
</body>
